.ghost-class {
  max-height: 100px;
  width: 100%;
  overflow: hidden;
  border: 1px dashed var(--q-primary);

  * {
    opacity: 0;
  }
}

.handle-drag {
  cursor: move;
}

.fallback-class {
  transform: rotate(10deg);
  height: auto !important;
  box-shadow: none;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fff, transparent 100%, transparent 10%, #fff);
  }
}